<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="SwagLabs.Login"></class>
	  <class name="SwagLabs.AddtoCart"></class> 
	  <class name="SwagLabs.Filtrationtest"></class>
	  <class name="SwagLabs.BrokenLinks"></class>  
	  <class name="SwagLabs.Amazontest"></class>
	  <class name="SwagLabs.frames"></class>
	  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
